body {
    display: grid;
    font-family: Arial, sans-serif;
    grid-gap: 0.5rem;
    grid-template-areas:
      "header header header"
      "aside main puts"
      "footer footer footer"
      ;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 100vh auto;
  }
.k-header {
     grid-area: header;
     padding: 10rem;
     background: #7B68EE;
     color: #000;
}

.k-aside {
    grid-area: aside;
    background: #9370DB;
    color: #000;
}

.k-main {
    grid-area: main;
    background: #8A2BE2;
    color: #000;
}

.k-footer {
    grid-area: footer;
    padding:5rem;
    background: linear-gradient(#9370DB 50%, rgba(156, 48, 239, 0.294) 100%);
    color: #000;
}

.k-puts {
    grid-area: puts;
    background: #9370DB;
    color:#000;
}
